* {
  box-sizing: border-box;
}
body {
  margin: auto;
}
.container {
  width: 95vw;
  height: 95vh;
  margin: auto;
  padding-top: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 10px;
}
.container > div:hover {
  background-color: skyblue;
}
.container > div {
  border: 2px solid black;

  border: 1px solid;
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(200, 120, 200, 0.3);
}
a {
  display: block;
  text-align: center;
  text-decoration: none;
}

.localDate {
  padding: 10px;
  color: green;
}
.title {
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
}

header {
  background-color: rgb(144, 115, 161);
  color: aliceblue;
  height: 15vh;
}
.titleName {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 10px;
}
.searchBtn {
  display: grid;
  justify-content: center;
}
img {
  width: 400px;
  height: 200px;
  padding-top: 15px;
}
footer{
  width: 100%;
  height: 5%;
  background-color: #cbeedb;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: brown;

}
